@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Os Preferidos da semana </p>
    
    <div class="row">
        @foreach (var item in Model.ProdutosFavoritos)
        {
            <partial name="_ProdutosResumo" for="@item"/>
        }
    </div>
</div>